html, body {
	background: #ededed;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.output {
	font-size: 1.6rem;
	height: 100px;
	text-align: center;
}

.wraper {
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
}

input {
	font-size: 1rem;
	padding: .25rem;
	width: 12rem;
}

button {
	background: #222;
	border: 0.05rem;
	border-radius: .25rem;
	color: #eee;
	font-size: .9rem;
	height: 1.6rem;
	margin: .8rem auto;
	text-align: center;
	width: 6rem;
}